@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Open+Sans:wght@300;400;600&family=Roboto:wght@300&display=swap');
:root{
    --cor-azul:#1059C6;
    --cor-azul-claro:#5aa6ff;
    --cor-cinza:#181C21;
    --cor-cinza-claro:#383C40;   
}
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background-color: var(--cor-cinza);
}
header{
    background-color: var(--cor-cinza-claro);
    width:100% ;
    height: 90px;
    color: white;
    padding: 20px;
}
h2{
    border-bottom: solid 2px var(--cor-azul);
}
main{
    background-color: var(--cor-cinza-claro);
    margin: auto;
    margin-top: 10px;
    max-width: 700px;
    height: 100vh;
    border-radius: 5px;
}
#areadeEntrada{
    background-color: var(--cor-cinza);

}