@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Open+Sans:wght@300;400;600&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
:root{
    --cor-azul:#1059C6;
    --cor-azul-claro:#5aa6ff;
    --cor-cinza:#181C21;
    --cor-cinza-claro:#383C40;   
}
body{
    background-color: var(--cor-cinza);
    height: 100vh;
    width: 100vw;
}
header{
    background-color: var(--cor-cinza-claro);
    color: #ffffff;
    height: 40pt;
    padding: 5pt;
    display: flex;
    justify-content: space-between;
}
i {
    background-color: var(--cor-azul);
    padding: 10pt;
    border-radius: 5pt;
    margin: 0pt 10pt;
}
main{
    max-width: 700px;
    width: 90%;
    margin: auto;
    margin-top: 10pt;
}
#cxNota{
    background-color: var(--cor-cinza-claro);
    color: #ffffff; 
    border-radius: 5pt;
    padding: 10pt;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
}
#areaNota{
    height: 30pt;
    width: 90%;
    border-radius: 5pt;
    padding: 5pt;
}
#nota{
    padding: 5pt;
    flex-wrap: wrap;                                     
    margin-bottom: 5pt;
}
#editarNota{
    padding: 3pt;
    text-align: center;   
}
i:hover{
    background-color: var(--cor-azul-claro);
    border-radius: 5pt;

}